<link href="/css/home_2k.css" rel="stylesheet">
<script src="/js/home.js"></script>
<div id="top_nav"><button name="logout" id="logout">x</button></div>
<table width=100%><tr>
    <td width=20%><div id="contact_list">
    
    </div></td>
    <td><div id="contact_info">a</div></td>
</tr></table>