<div class="popup_card">
  Login<br><br>
  <form action="/login" method="post">
    <input type="text" placeholder="Username" required><br>
    <input type="password" placeholder="Password" required><br>
    <br>
    <button type="submit">Login</button>
  </form>
</div>