<link href="/css/home_2k.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/home.js"></script>
    <div id="contact_list">
        <form action="view" method="post">
            <% contacts.each do |item| %>
                <button name="view" value="<%= item[:id] %>" class="viewbtn"><%= item[:name] %></button><br>
            <% end %>
        </form>
        <form action="new" method="post">
            <button class="viewbtn"><i class="fa fa-plus-circle"></i> Add Contact</button>
        </form>
    </div>
    <div id="contact_info">
    <form action="logout" method="post">
        <button name="logout" id="logout" onclick="logout()">✖</button>
    </form>
    <form action="add_contact" method="post">
        <input type="text" autocomplete="off" class="contact-field" placeholder="Name" id="contact-name" name="contact-name" value=""><br>
                <input type="text" autocomplete="off" class="contact-field" placeholder="Phone Number" id="contact-phone" name="contact-phone" value=""><br>
                <input type="text" autocomplete="off" class="contact-field" placeholder="Address" id="contact-address" name="contact-address" value=""><br>
                <input type="text" autocomplete="off" class="contact-field" placeholder="Zipcode" id="contact-zip" name="contact-zip" value=""><br>
                <textarea autocomplete="off" class="contact-field" placeholder="Notes" id="contact-notes" name="contact-notes" rows="8"></textarea><br>
                <br><button class="savebtn" name="add"><center>Add Contact</center></button>
    </form>
    </div>